{
  "openapi": "3.0.4",
  "info": {
    "title": "Frisbii REST API",
    "description": "This document describes the endpoints of the Frisbii REST API. You can find out more about Frisbii <a href='https://frisbii.com/'>here</a>. <br/> <br/><b>Swagger interactive usage / authentication:</b><br />This documentation offers interactive features which will enable you to test how our system behaves. To use the interactive features you have to aquire a bearer token for your active Frisbii sandbox account. This procedure is described <a href='https://docs.frisbii-transform.com/docs/restApi/authentication'>here</a>. OAuth token URL for sandbox is <code>https://sandbox.frisbii-transform.com/oauth/token/</code>, for production <code>https://app.frisbii.com/oauth/token/</code>. Please be aware the URL does not include <code>[...]/api/v1/[...]</code>After aquiring the token you must go through the 'Authorize'-Form down below (green button). You're now able to use the interactive features. <br/>Please be aware your sandbox account will be affected trying out the endpoints!<br/> <br/> <b>Updates to API</b><br />We are constantly improving our API. We are trying to avoid breaking changes as much as possible. However, sometimes we have to make breaking changes. We will inform about breaking changes directly if these endpoints are used by your integration and grant sufficient time to react to the upcoming change. We will also inform about breaking changes in our changelog. Please be aware that we will not inform explicitly about non-breaking changes. We will <b>not inform</b> about changes in the following cases:<br/><ul><li>Adding a new enum value to a published public API endpoint is not considered a breaking change.</li><li>Adding new fields in API endpoint (request and response) is not considered a breaking change.</li></ul>Integrations need to be built in a robust way that can deal with these sorts of changes by handling responses and objects in a generic way and ignoring unexpected types, enum values, fields.</br></br></br></br>Endpoints marked with [FEATURE] is an feature discriminated endpoint. Make sure your account has this feature enabled or contact <a href=\"mailto:support@frisbii-transform.com\">support</a>.</strong>Return to <a href='https://docs.frisbii-transform.com/'>https://docs.frisbii-transform.com/</a>",
    "contact": {
      "email": "support@frisbii-transform.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://sandbox.billwerk.com"
    }
  ],
  "paths": {
    "/api/v1/accountingexportfiles/{id}": {
      "get": {
        "tags": [
          "Accounting Exports"
        ],
        "summary": "Retrieves a Accounting Export File's details by Id",
        "operationId": "AccountingExportFiles_Get_id_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "AccountingExport Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingExportFileReadDTO"
                },
                "example": {"Id":"68a9a3a1e358906f5b2c06eb","ExportId":"68a9a3a1e358906f5b2c06ec","Version":1,"FileTime":"2025-08-23T13:13:57.7281709+02:00","Status":"Finished","Format":"Datev"}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accountingexportfiles/{fileId}/downloadlink": {
      "post": {
        "tags": [
          "Accounting Exports"
        ],
        "summary": "Creates a file download token for the given Accounting Export File",
        "operationId": "AccountingExportFiles_CreateDownloadLink_fileId_POST",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "AccountingExport File Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDownloadLinkDTO"
                },
                "example": {"Url":"/Files/1vRmbVt13TyAqfLwXGXjxb","Expiry":"2025-08-24T11:18:57.7345625Z"}
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accountingexportfiles/{fileId}/download": {
      "get": {
        "tags": [
          "Accounting Exports"
        ],
        "summary": "Direct download of Accounting Export Files",
        "operationId": "AccountingExportFiles_GetDirectDownload_fileId_GET",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "AccountingExport File Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/zip": { }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accountingexports": {
      "get": {
        "tags": [
          "Accounting Exports"
        ],
        "summary": "Returns all accounting export requests",
        "operationId": "AccountingExports_Get_kind_includeFiles_from_take_GET",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "description": "Accounting export kind",
            "schema": {
              "$ref": "#/components/schemas/AccountingExportKind"
            }
          },
          {
            "name": "includeFiles",
            "in": "query",
            "description": "Include files",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Cursor from where on the items are listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limit returned items (Max = 500, Default = 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountingExportBatchReadDTO"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Accounting Exports"
        ],
        "summary": "Creates a new accounting export request",
        "operationId": "AccountingExports_Post_dto_POST",
        "requestBody": {
          "description": "Accounting export request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingExportCreateDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingExportRequestReadDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/api/v1/accountingexports/{id}": {
      "get": {
        "tags": [
          "Accounting Exports"
        ],
        "summary": "Get an accounting export request by Id",
        "operationId": "AccountingExports_Get_id_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Accounting export request Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingExportBatchReadDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accountingexportsettings": {
      "get": {
        "tags": [
          "Accounting Exports Settings"
        ],
        "summary": "Retrieves an Accounting Export Settings",
        "operationId": "AccountingExportSettings_GetGeneralSettings__GET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingExportGeneralSettingsReadDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Accounting Exports Settings"
        ],
        "summary": "Updates an Accounting Export Settings",
        "operationId": "AccountingExportSettings_PutGeneralSettings_generalSettingsDTO_PUT",
        "requestBody": {
          "description": "General Accounting Export Settings DTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingExportGeneralSettingsDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingExportGeneralSettingsDTO"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accountingexportsettings/productbasedaccounts": {
      "get": {
        "tags": [
          "Accounting Exports Settings"
        ],
        "summary": "Retrieves a Product Based Accounting Export Settings",
        "operationId": "AccountingExportSettings_GetProductBasedAccounts__GET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountingExportProductSettingsDTO"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "Accounting Exports Settings"
        ],
        "summary": "Updates a Product Based Accounting Export Settings",
        "operationId": "AccountingExportSettings_PatchProductBasedAccounts_accountingExportProductBasedAccountsDTO_allowMissingAccounts_PATCH",
        "parameters": [
          {
            "name": "allowMissingAccounts",
            "in": "query",
            "description": "Allow Missing Accounts",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Accounting Export Product Based Accounts DTO",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountingExportProductSettingsDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountingExportProductSettingsDTO"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/accountingstatus": {
      "get": {
        "tags": [
          "Accounting Exports"
        ],
        "summary": "Retrieves the current status of the Accounting Export",
        "operationId": "AccountingStatus_Get__GET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingStatusDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/components/{id}": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Retrieves a Component details by Id",
        "operationId": "Components_GetItem_id_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Component Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentReadDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Components"
        ],
        "summary": "Updates a Component",
        "operationId": "Components_Put_id_dto_PUT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Component Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Component DTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentReadDTO"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Components"
        ],
        "summary": "Deletes a Component",
        "operationId": "Components_Delete_id_DELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Component Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/components": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Retrieves a list of Components",
        "operationId": "Components_GetGeneric_from_skip_take_CustomFields_GET",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Cursor from where on the components are listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "If you are using pagination, you can skip n items (1000 max.)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limit returned items (Max = 500, Default = 200)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 200
            }
          },
          {
            "name": "customFields",
            "in": "query",
            "description": "Custom fields to search the exact match of. Supports formats customFields[{customFieldKey}]={value} or customFields.{customFieldKey}={value}.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComponentReadDTO"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/plangroups/{planGroupId}/components": {
      "post": {
        "tags": [
          "Components"
        ],
        "summary": "Creates a new Component",
        "operationId": "Components_Post_planGroupId_dto_POST",
        "parameters": [
          {
            "name": "planGroupId",
            "in": "path",
            "description": "PlanGroup Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Component DTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentReadDTO"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/components/{id}/clone": {
      "post": {
        "tags": [
          "Components"
        ],
        "summary": "Clones a Component",
        "operationId": "Components_PostClone_id_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Component Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentReadDTO"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/componentsubscriptions": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Retrieves all subscriptions in the selected contract",
        "operationId": "ComponentSubscriptions_GetComponentSubscriptionsByContract_contractId_status_from_skip_take_CustomFields_GET",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status the listed subscriptions are filtered by",
            "schema": {
              "$ref": "#/components/schemas/SubscriptionStatus"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Cursor from where on the items are listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "If you are using pagination, you can skip n items (1000 max.)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limit returned items (Max = 500, Default = 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customFields",
            "in": "query",
            "description": "Custom fields to search the exact match of. Supports formats customFields[{customFieldKey}]={value} or customFields.{customFieldKey}={value}.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComponentSubscriptionReadDTO"
                  }
                },
                "example": [{"Id":"599d51f881b1f00a28f7aea3","ContractId":"599d51f881b1f00a28f7aea4","CustomerId":"599d51f881b1f00a28f7aea5","ComponentId":"599d51f881b1f00a28f7aea6","Quantity":42,"StartDate":"2025-08-23T11:18:57.8300068Z","BilledUntil":"2025-08-23T11:18:57.8300192Z","Status":"Active","Memo":"MemoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"}},{"Id":"599d51f881b1f00a28f7aea7","ContractId":"599d51f881b1f00a28f7aea8","CustomerId":"599d51f881b1f00a28f7aea9","ComponentId":"599d51f881b1f00a28f7aea0","Quantity":23,"StartDate":"2025-08-23T11:18:57.8300592Z","BilledUntil":"2025-08-23T11:18:57.8300593Z","Status":"Active","Memo":"MemoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"}}]
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create a new component subscription for this contract",
        "operationId": "ComponentSubscriptions_Post_contractId_dto_POST",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ComponentSubscription DTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentSubscriptionCreateDTO"
              },
              "example": {"ComponentId":"599d51f881b1f00a28f7aea3","Quantity":42,"StartDate":"2025-08-23T11:18:57.8327776Z","EndDate":"2025-08-23T11:18:57.8327916Z","Memo":"MemoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"}}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentSubscriptionReadDTO"
                },
                "example": {"Id":"599d51f881b1f00a28f7aea3","ContractId":"599d51f881b1f00a28f7aea4","CustomerId":"599d51f881b1f00a28f7aea5","ComponentId":"599d51f881b1f00a28f7aea6","Quantity":42,"StartDate":"2025-08-23T11:18:57.8355631Z","BilledUntil":"2025-08-23T11:18:57.8355632Z","Status":"Active","Memo":"MemoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"}}
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/componentsubscriptions": {
      "get": {
        "tags": [
          "Component Subscriptions"
        ],
        "summary": "Retrieves all subscriptions by contract id, component id or custom field",
        "operationId": "ComponentSubscriptions_GetComponentSubscriptions_contractId_componentId_from_skip_take_CustomFields_GET",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "description": "Contract Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentId",
            "in": "query",
            "description": "Component Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Cursor from where on the items are listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "If you are using pagination, you can skip n items (1000 max.)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limit returned items (Max = 500, Default = 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customFields",
            "in": "query",
            "description": "Custom fields to search the exact match of. Supports formats customFields[{customFieldKey}]={value} or customFields.{customFieldKey}={value}.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComponentSubscriptionReadDTO"
                  }
                },
                "example": [{"Id":"599d51f881b1f00a28f7aea3","ContractId":"599d51f881b1f00a28f7aea4","CustomerId":"599d51f881b1f00a28f7aea5","ComponentId":"599d51f881b1f00a28f7aea6","Quantity":42,"StartDate":"2025-08-23T11:18:57.8379652Z","BilledUntil":"2025-08-23T11:18:57.8379652Z","Status":"Active","Memo":"MemoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"}},{"Id":"599d51f881b1f00a28f7aea7","ContractId":"599d51f881b1f00a28f7aea8","CustomerId":"599d51f881b1f00a28f7aea9","ComponentId":"599d51f881b1f00a28f7aea0","Quantity":23,"StartDate":"2025-08-23T11:18:57.8379704Z","BilledUntil":"2025-08-23T11:18:57.8379704Z","Status":"Active","Memo":"MemoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"}}]
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/componentsubscriptions/{id}": {
      "get": {
        "tags": [
          "Component Subscriptions"
        ],
        "summary": "Get a single component subscription",
        "operationId": "ComponentSubscriptions_Get_id_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Component Subscription Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentSubscriptionReadDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Component Subscriptions"
        ],
        "summary": "Updates a component subscription",
        "operationId": "ComponentSubscriptions_Put_id_dto_PUT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Component Subscription Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ComponentSubscription DTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentSubscriptionReadDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/componentsubscriptions/{componentSubscriptionId}/replace": {
      "post": {
        "tags": [
          "Component Subscriptions"
        ],
        "summary": "Replaces the old component subscription with a new one\n<remarks>\nReplacing a subscription means that the old subscription is ended and a the new one starts on the date specified\n</remarks>",
        "operationId": "ComponentSubscriptions_Replace_componentSubscriptionId_dto_POST",
        "parameters": [
          {
            "name": "componentSubscriptionId",
            "in": "path",
            "description": "Subscription Id which is going to be replaced",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The object containing a set of fields describing a replacement",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentSubscriptionCreateDTO"
              },
              "example": {"ComponentId":"599d51f881b1f00a28f7aea3","Quantity":42,"StartDate":"2025-08-23T11:18:57.8436156Z","EndDate":"2025-08-23T11:18:57.8436158Z","Memo":"MemoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"}}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentSubscriptionReadDTO"
                },
                "example": {"Id":"599d51f881b1f00a28f7aea3","ContractId":"599d51f881b1f00a28f7aea4","CustomerId":"599d51f881b1f00a28f7aea5","ComponentId":"599d51f881b1f00a28f7aea6","Quantity":42,"StartDate":"2025-08-23T11:18:57.8438328Z","BilledUntil":"2025-08-23T11:18:57.8438329Z","Status":"Active","Memo":"MemoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"}}
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/componentsubscriptions/{componentSubscriptionId}/end": {
      "post": {
        "tags": [
          "Component Subscriptions"
        ],
        "summary": "Ends a component subscription",
        "operationId": "ComponentSubscriptions_End_contractId_componentSubscriptionId_dto_POST",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentSubscriptionId",
            "in": "path",
            "description": "Component Subscription Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ComponentSubscription DTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentSubscriptionReadDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/usage": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Retrieves a contract's associated usages",
        "operationId": "ComponentUsage_GetUsageByContract_contractId_fromDateTime_untilDateTime_from_skip_take_CustomFields_GET",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "Date from where on the items are listed",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "untilDateTime",
            "in": "query",
            "description": "Date until the items are listed",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Cursor from where on the items are listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "If you are using pagination, you can skip n items (1000 max.)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limit returned items (Max = 500, Default = 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customFields",
            "in": "query",
            "description": "Custom fields to search the exact match of. Supports formats customFields[{customFieldKey}]={value} or customFields.{customFieldKey}={value}.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeteredUsageReadDTO"
                  }
                },
                "example": [{"Id":"599d51f881b1f00a28f7aea2","ContractId":"599d51f881b1f00a28f7aea3","TransferredAt":"2025-08-23T11:18:57.8499018Z","BilledOn":"2025-08-23T11:18:57.8499166Z","ComponentId":"599d51f881b1f00a28f7aea4","Quantity":42,"Memo":"memoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"},"DueDate":"2025-08-23T11:18:57.8499838Z"},{"Id":"599d51f881b1f00a28f7aea2","ContractId":"599d51f881b1f00a28f7aea3","TransferredAt":"2025-08-23T11:18:57.8500092Z","BilledOn":"2025-08-23T11:18:57.8500092Z","ComponentId":"599d51f881b1f00a28f7aea4","Quantity":42,"Memo":"memoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"},"DueDate":"2025-08-23T11:18:57.8500093Z"}]
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Posts new metered usage data",
        "operationId": "ComponentUsage_Post_contractId_dto_POST",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "MeteredUsage object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeteredUsageDTO"
              },
              "example": {"ComponentId":"599d51f881b1f00a28f7ae9c","Quantity":124.0,"Memo":"MemoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"},"DueDate":"2025-08-23T11:18:57.8522600Z"}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteredUsageReadDTO"
                },
                "example": {"TransferredAt":"0001-01-01T00:00:00.0000000","ComponentId":"599d51f881b1f00a28f7aea4","Quantity":42,"Memo":"memoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"},"DueDate":"2025-08-23T11:18:57.8534356Z"}
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/usage/{usageId}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Retrieves a contract's associated usage by Id",
        "operationId": "ComponentUsage_GetSingleUsageByContract_contractId_usageId_GET",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageId",
            "in": "path",
            "description": "Usage Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeteredUsageReadDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Contracts"
        ],
        "summary": "Remove an unbilled metered usage",
        "description": "As long as the usage hasn't been billed yet, you can simply DELETE it. Otherwise, the process becomes ill-defined,\n            especially in light of free quota. You can deduct the overbilled amount in the following month or write a credit note manually.",
        "operationId": "ComponentUsage_Delete_contractId_usageId_DELETE",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageId",
            "in": "path",
            "description": "Metered Usage Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/usage": {
      "get": {
        "tags": [
          "Metered Usage"
        ],
        "summary": "Retrieves usages by contract id, component id or custom field",
        "operationId": "ComponentUsage_GetMeteredUsage_contractId_componentId_from_skip_take_CustomFields_GET",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "description": "Contract Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentId",
            "in": "query",
            "description": "Component Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Cursor from where on the items are listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "If you are using pagination, you can skip n items (1000 max.)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limit returned items (Max = 500, Default = 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customFields",
            "in": "query",
            "description": "Custom fields to search the exact match of. Supports formats customFields[{customFieldKey}]={value} or customFields.{customFieldKey}={value}.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeteredUsageReadDTO"
                  }
                },
                "example": [{"Id":"599d51f881b1f00a28f7aea2","ContractId":"599d51f881b1f00a28f7aea3","TransferredAt":"2025-08-23T11:18:57.8587411Z","BilledOn":"2025-08-23T11:18:57.8587411Z","ComponentId":"599d51f881b1f00a28f7aea4","Quantity":42,"Memo":"memoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"},"DueDate":"2025-08-23T11:18:57.8587414Z"},{"Id":"599d51f881b1f00a28f7aea2","ContractId":"599d51f881b1f00a28f7aea3","TransferredAt":"2025-08-23T11:18:57.8587453Z","BilledOn":"2025-08-23T11:18:57.8587454Z","ComponentId":"599d51f881b1f00a28f7aea4","Quantity":42,"Memo":"memoExample","CustomFields":{"Key1":"Value1","Key2":"Value2"},"DueDate":"2025-08-23T11:18:57.8587455Z"}]
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contractchanges": {
      "get": {
        "tags": [
          "Contract changes"
        ],
        "summary": "Retrieve a list of contract changes",
        "description": "Usage with contractId parameter is recommended.",
        "operationId": "ContractChanges_GetList_contractId_dateFrom_dateTo_from_take_includeContract_includePauses_GET",
        "parameters": [
          {
            "name": "contractId",
            "in": "query",
            "description": "Concatenate to URL to limit search to specific contract",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Searches changes with a occured date equal or younger than the specified date, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Searches changes with a occured date equal or older than the specified date, inclusive, optional",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Cursor from where on the items are listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limit returned items (500 max.)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeContract",
            "in": "query",
            "description": "If true - includes contract with phases; false by default",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePauses",
            "in": "query",
            "description": "If All - includes all pauses in change list; If Changed - includes changed pauses in change list; None by default",
            "schema": {
              "$ref": "#/components/schemas/ContractChangeRequestOption"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractChangeDTO"
                  }
                },
                "example": [{"Id":"68a9a3a1e358906f5b2c06ef","Type":"Signup","Timestamp":"2025-08-22T11:18:57.8681129Z","OrderId":"68a9a3a1e358906f5b2c06f1","ContractId":"68a9a3a1e358906f5b2c06ed","ChangeDate":"2025-08-23T11:18:57.8681135Z","NewPlanVariantId":"68a9a3a1e358906f5b2c06f0","NewPlanId":"68a9a3a1e358906f5b2c06ee"},{"Id":"68a9a3a1e358906f5b2c06f2","Type":"Upgrade","Timestamp":"2025-08-23T10:18:57.8681328Z","OrderId":"68a9a3a1e358906f5b2c06f4","ContractId":"68a9a3a1e358906f5b2c06ed","ChangeDate":"2025-09-23T11:18:57.8681331Z","NewPlanVariantId":"68a9a3a1e358906f5b2c06f3","NewPlanId":"68a9a3a1e358906f5b2c06ee"},{"Id":"68a9a3a1e358906f5b2c06f5","Type":"Timebased","Timestamp":"2025-08-23T11:18:57.8681338Z","ContractId":"68a9a3a1e358906f5b2c06ed"},{"Id":"68a9a3a1e358906f5b2c06f6","Type":"EndContract","Trigger":"PaymentEscalation","Timestamp":"2025-08-23T10:18:57.8681742Z","ContractId":"68a9a3a1e358906f5b2c06ed","ChangeDate":"2025-09-23T11:18:57.8681743Z"}]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contractchanges/{contractChangeId}": {
      "get": {
        "tags": [
          "Contract changes"
        ],
        "summary": "Retrieves a contract change object by Id",
        "operationId": "ContractChanges_GetContractChange_contractChangeId_includeContract_includeComponentSubscriptions_includeDiscountSubscriptions_includePauses_GET",
        "parameters": [
          {
            "name": "contractChangeId",
            "in": "path",
            "description": "Contract change Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeContract",
            "in": "query",
            "description": "If true - includes contract with phases; true by default",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeComponentSubscriptions",
            "in": "query",
            "description": "If All - includes all component subscriptions in change list; If Changed - includes changed component subscriptions in change list; None by default",
            "schema": {
              "$ref": "#/components/schemas/ContractChangeRequestOption"
            }
          },
          {
            "name": "includeDiscountSubscriptions",
            "in": "query",
            "description": "If All - includes all discount subscriptions in change list; If Changed - includes changed discount subscriptions in change list; None by default",
            "schema": {
              "$ref": "#/components/schemas/ContractChangeRequestOption"
            }
          },
          {
            "name": "includePauses",
            "in": "query",
            "description": "If All - includes all pauses in change list; If Changed - includes changed pauses in change list; None by default",
            "schema": {
              "$ref": "#/components/schemas/ContractChangeRequestOption"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractChangeDTO"
                },
                "example": {"Id":"68a9a3a1e358906f5b2c06fe","Type":"Upgrade","Timestamp":"2025-08-23T10:18:57.8710451Z","OrderId":"68a9a3a1e358906f5b2c06ff","ContractId":"68a9a3a1e358906f5b2c06f7","ChangeDate":"2025-09-23T11:18:57.8713157Z","NewPlanVariantId":"68a9a3a1e358906f5b2c06f9","NewPlanId":"68a9a3a1e358906f5b2c06f8","Contract":{"Id":"68a9a3a1e358906f5b2c06f7","Before":{"CurrentPhase":{"Type":"Trial","StartDate":"2025-07-23T11:18:57.8709836Z","PlanVariantId":"68a9a3a1e358906f5b2c06f9","PlanId":"68a9a3a1e358906f5b2c06f8","InheritStartDate":false},"Phases":[{"Type":"Trial","StartDate":"2025-07-23T11:18:57.8709836Z","PlanVariantId":"68a9a3a1e358906f5b2c06f9","PlanId":"68a9a3a1e358906f5b2c06f8","InheritStartDate":false}],"CurrentPause":{"StartDate":"2025-08-24T11:18:57.8710063Z","EndDate":"2025-08-25T11:18:57.8710275Z"}},"After":{"CurrentPhase":{"Type":"Normal","StartDate":"2025-09-23T11:18:57.8709840Z","PlanVariantId":"68a9a3a1e358906f5b2c06f9","PlanId":"68a9a3a1e358906f5b2c06f8","InheritStartDate":false},"Phases":[{"Type":"Trial","StartDate":"2025-07-23T11:18:57.8709836Z","PlanVariantId":"68a9a3a1e358906f5b2c06f9","PlanId":"68a9a3a1e358906f5b2c06f8","InheritStartDate":false},{"Type":"Normal","StartDate":"2025-09-23T11:18:57.8709840Z","PlanVariantId":"68a9a3a1e358906f5b2c06f9","PlanId":"68a9a3a1e358906f5b2c06f8","InheritStartDate":false}],"CurrentPause":{"StartDate":"2025-08-23T11:04:57.8710438Z"}}},"ComponentSubscriptions":[{"Id":"68a9a3a1e358906f5b2c06fa","Before":{"Id":"68a9a3a1e358906f5b2c06fa","Quantity":4,"StartDate":"2025-08-23T11:18:57.8710953Z","Status":"Inactive"},"After":{"Id":"68a9a3a1e358906f5b2c06fa","Quantity":4,"StartDate":"2025-08-23T11:18:57.8710953Z","EndDate":"2025-09-02T11:18:57.8717746Z","Status":"Inactive"}},{"Id":"68a9a3a1e358906f5b2c06fb","Before":{"Id":"68a9a3a1e358906f5b2c06fb","Quantity":2,"StartDate":"2025-08-24T11:18:57.8711271Z","EndDate":"2025-08-28T11:18:57.8711272Z","Status":"Inactive"},"After":{"Id":"68a9a3a1e358906f5b2c06fb","Quantity":2,"StartDate":"2025-08-24T11:18:57.8711271Z","EndDate":"2025-08-29T11:18:57.8711272Z","Status":"Inactive"}}],"DiscountSubscriptions":[{"Id":"68a9a3a1e358906f5b2c06fa","Before":{"Id":"68a9a3a1e358906f5b2c06fc","StartDate":"2025-08-23T11:18:57.8711766Z","Status":"Inactive"},"After":{"Id":"68a9a3a1e358906f5b2c06fc","StartDate":"2025-08-23T11:18:57.8711766Z","EndDate":"2025-09-02T11:18:57.8723275Z","Status":"Inactive"}}],"Pauses":[{"Id":"68a9a3a1e358906f5b2c06fd","Before":{"Id":"68a9a3a1e358906f5b2c06fd","StartDate":"2025-08-24T11:18:57.8710063Z","EndDate":"2025-08-25T11:18:57.8710275Z"},"After":{"Id":"68a9a3a1e358906f5b2c06fd","StartDate":"2025-08-23T11:04:57.8710438Z"}}]}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{id}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Retrieves a single contract by Id",
        "operationId": "Contracts_Get_id_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractReadDTO"
                },
                "example": {"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2025-08-23T11:18:57.8875790Z","NextBillingDate":"2025-08-23T11:18:57.8875791Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2025-08-23T11:18:57.8875800Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2025-08-23T11:18:57.8875805Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0,"Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Last4":"1234","Type":"CreditCard","Country":"DE"},"PaymentProvider":"PayOne","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2025-08-23T11:18:57.8877248Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"TimeGranularity":"Precise","StartDate":"2025-08-23T11:18:57.8878245Z","EndDate":"2025-08-23T11:18:57.8878247Z","BilledUntil":"2025-08-23T11:18:57.8878248Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Contracts"
        ],
        "summary": "Deletes a contract",
        "description": "Terminated contracts can be deleted from the system. Billwerk will ensure that the conditions are met before closing.\nIf some conditions are not met at the time of the request, billwerk stores the request, and will attempt deleting the contract until possible.\nTo ensure compliance with accounting principles, billwerk will archive the data relevant to accounting.\n\n</br> \nNote: For GDPR personal data deletion request, DELETE /customers/{id} is also available and will ensure all contracts are deleted.",
        "operationId": "Contracts_Delete_id_DELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Retrieve a list of contracts",
        "operationId": "Contracts_GetList_from_skip_take_externalSubscriptionId_externalId_CustomFields_GET",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Cursor from where on the items are listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "If you are using pagination, you can skip n items (1000 max.)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limit returned items (Max = 500, Default = 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "externalSubscriptionId",
            "in": "query",
            "description": "Filter by external subscription id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "Filter by external id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFields",
            "in": "query",
            "description": "Custom fields to search the exact match of. Supports formats customFields[{customFieldKey}]={value} or customFields.{customFieldKey}={value}.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractReadDTO"
                  }
                },
                "example": [{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2025-08-23T11:18:57.8958878Z","NextBillingDate":"2025-08-23T11:18:57.8958880Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2025-08-23T11:18:57.8958884Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2025-08-23T11:18:57.8958889Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0,"ReferenceCode":"XXXX-YYYY","Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Last4":"1234","Type":"CreditCard","Country":"DE"},"PaymentProvider":"PayOne","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2025-08-23T11:18:57.8958898Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"TimeGranularity":"Precise","StartDate":"2025-08-23T11:18:57.8958901Z","EndDate":"2025-08-23T11:18:57.8958901Z","BilledUntil":"2025-08-23T11:18:57.8958902Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"},{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2025-08-23T11:18:57.8958908Z","NextBillingDate":"2025-08-23T11:18:57.8958909Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2025-08-23T11:18:57.8958911Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2025-08-23T11:18:57.8958930Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0,"ReferenceCode":"XXXX-ZZZZ","Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Last4":"1234","Type":"CreditCard","Country":"DE"},"PaymentProvider":"PayOne","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2025-08-23T11:18:57.8958934Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"TimeGranularity":"Precise","StartDate":"2025-08-23T11:18:57.8958936Z","EndDate":"2025-08-23T11:18:57.8958936Z","BilledUntil":"2025-08-23T11:18:57.8958937Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"}]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/customers/{customerId}/contracts": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieves a list of all contracts for the given customer Id",
        "operationId": "Contracts_GetContractsByCustomer_customerId_GET",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractReadDTO"
                  }
                },
                "example": [{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2025-08-23T11:18:57.8993196Z","NextBillingDate":"2025-08-23T11:18:57.8993197Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2025-08-23T11:18:57.8993202Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2025-08-23T11:18:57.8993206Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0,"ReferenceCode":"XXXX-YYYY","Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Last4":"1234","Type":"CreditCard","Country":"DE"},"PaymentProvider":"PayOne","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2025-08-23T11:18:57.8993215Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"TimeGranularity":"Precise","StartDate":"2025-08-23T11:18:57.8993217Z","EndDate":"2025-08-23T11:18:57.8993218Z","BilledUntil":"2025-08-23T11:18:57.8993219Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"},{"Id":"599d51f881b1f00a28f7ae9e","LastBillingDate":"2025-08-23T11:18:57.8993221Z","NextBillingDate":"2025-08-23T11:18:57.8993222Z","PlanId":"599d51f881b1f00a28f7ae9f","CustomerId":"599d51f881b1f00a28f7ae9g","IsDeletable":false,"LifecycleStatus":"Active","CustomerName":"Marcellus Wallace","CustomerIsLocked":false,"Phases":[{"Type":"Normal","StartDate":"2025-08-23T11:18:57.8993224Z","PlanVariantId":"599d51f881b1f00a28f7ae9h","PlanId":"599d51f881b1f00a28f7ae9i","InheritStartDate":false},{"Type":"Trial","StartDate":"2025-08-23T11:18:57.8993226Z","PlanVariantId":"599d51f881b1f00a28f7ae9j","PlanId":"599d51f881b1f00a28f7ae9k","InheritStartDate":false}],"Balance":0,"ReferenceCode":"XXXX-ZZZZ","Currency":"EUR","PlanGroupId":"599d51f881b1f00a28f7ae9l","PaymentBearer":{"CardType":"Visa","ExpiryMonth":12,"ExpiryYear":2020,"Holder":"Marcellus Wallace","Last4":"1234","Type":"CreditCard","Country":"DE"},"PaymentProvider":"PayOne","EscalationSuspended":false,"RecurringPaymentsPaused":false,"CurrentPhase":{"Type":"Normal","StartDate":"2025-08-23T11:18:57.8993230Z","PlanVariantId":"599d51f881b1f00a28f7ae9m","PlanId":"599d51f881b1f00a28f7ae9n","InheritStartDate":false},"PaymentProviderSupportRefunds":false,"BillingSuspended":false,"ThresholdBillingDisabled":false,"TimeGranularity":"Precise","StartDate":"2025-08-23T11:18:57.8993232Z","EndDate":"2025-08-23T11:18:57.8993232Z","BilledUntil":"2025-08-23T11:18:57.8993233Z","PlanVariantId":"599d51f881b1f00a28f7ae9o","Notes":"NoteExample"}]
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{id}/subscriptions": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Retrieves all currently active subscriptions including plan variant, component subscriptions and discount subscriptions",
        "operationId": "Contracts_GetSubscriptions_id_timestamp_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "This parameter is optional. By default the request will return currently active subscriptions. When passing the timestamp parameter the response will contain active subscription at the specified time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractSubscriptionsDTO"
                },
                "example": {"Id":"68a9a3a1e358906f5b2c0700","Phase":{"Type":"Normal","StartDate":"2025-02-23T11:18:57.9024842Z","PlanVariantId":"5b20d2df81b1f00d1425280f","PlanId":"5b20d2deba5c1e13409b15f2","Quantity":1,"InheritStartDate":false},"ComponentSubscriptions":[{"Id":"599d51f881b1f00a28f7ae9n","ContractId":"599d51f881b1f00a28f7ae14","CustomerId":"599d51f881b1f00a28f7asdf","ComponentId":"599d51f881b1f00a28f7ae10","Quantity":1,"StartDate":"2025-07-23T11:18:57.9024778Z","BilledUntil":"2025-09-23T11:18:57.9024772Z","Status":"Active","EndDate":"2026-02-23T11:18:57.9024776Z","Memo":"Memoexample"},{"Id":"599d51f881b1f00a28f7ae8n","ContractId":"599d51f881b1f00a28f7ae14","CustomerId":"599d51f881b1f00a28f7asdf","ComponentId":"599d51f881b1f00a28f7ae11","Quantity":0,"StartDate":"2025-07-23T11:18:57.9024788Z","BilledUntil":"2025-09-23T11:18:57.9024786Z","Status":"Active","EndDate":"2026-02-23T11:18:57.9024787Z","Memo":"Memoexample"}],"DiscountSubscriptions":[{"Id":"599d51f881b1f00a28f7ae2m","ContractId":"599d51f881b1f00a28f7ae14","CouponCode":"50off","CouponId":"599d51f881b1f00a28f7ae16","DiscountId":"599d51f881b1f00a28f7ae18","StartDate":"2025-08-23T11:18:57.9024799Z","Status":"Active","EndDate":"2026-02-23T11:18:57.9024796Z"},{"Id":"599d51f881b1f00a28f7ae2o","ContractId":"599d51f881b1f00a28f7ae14","CouponCode":"starter","CouponId":"599d51f881b1f00a28f7ae17","DiscountId":"599d51f881b1f00a28f7ae20","StartDate":"2025-08-23T11:18:57.9024820Z","Status":"Active","EndDate":"2025-09-23T11:18:57.9024801Z"}]}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{id}/prepaidcards": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Retrieves redeemed prepaid cards information for a specific contract",
        "operationId": "Contracts_GetPrepaidCards_id_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrepaidCardsListReadDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{id}/previewnextrecurring": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Retrieve the expected amount of the next billing / invoice",
        "operationId": "Contracts_GetNextRecurringInfos_id_ignoreZeroTotals_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignoreZeroTotals",
            "in": "query",
            "description": "Flag to ignore 0 totals",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NextRecurringInfosDTO"
                },
                "example": {"BillingDate":"2025-09-23T11:18:57.9087784Z","TotalNet":25.00,"TotalVat":4.75,"TotalGross":29.75,"Currency":"EUR","AmountPayable":29.75}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/move": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Moves a contract to a different customer",
        "description": "This endpoint is currently in beta and may change in the future.\nUsing this endpoint can lead to interruptions in the billing process.",
        "operationId": "Contracts_Move_contractId_dto_POST",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Contract move DTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractMoveDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{id}/billingsuspended": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Switches Automatic Billing for a contract on or off",
        "operationId": "Contracts_PutBillingSuspended_id_status_PUT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Automatic Billing status: true is on, false is off",
          "content": {
            "application/json": {
              "schema": {
                "type": "boolean"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/selfservicetoken": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Retrieve a short-lived Self-Service access token",
        "description": "The token can be used by your customers to change their account and payment information for the given contract.\nRetrieve the token immediately before redirecting the customer.",
        "operationId": "Contracts_GetSelfServiceToken_contractId_tokenValidity_GET",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenValidity",
            "in": "query",
            "description": "Token validity, limited up to 10080 minutes (or 7 days)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfServiceTokenDTO"
                },
                "example": {"Expiry":"2025-08-23T11:18:57.9146395Z","Token":"ExampleToken","Purpose":"ExamplePurpose","Url":"ExampleURL"}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/trialend": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Change the contract's trial end",
        "description": "**Usage Advisory:**\n- This endpoint is limited in scope: it does not affect the start dates of component subscriptions, metered usages, or discounts.\n- Effective only when there are no phase changes post-trial end.\n- Given the evolving nature of our features, there may be additional, unforeseen limitations.\n- It exclusively modifies the trial phase; exercise caution with complex contracts involving components and discounts.\n            \nPlease use this endpoint judiciously to ensure it aligns with your specific contract structures and requirements.",
        "operationId": "Contracts_PutTrialEnd_contractId_dto_PUT",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "DTO with new trial end date",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTrialEndDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractReadDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/customfields": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Set a new list of custom fields in the contract and replace/remove existing ones",
        "operationId": "Contracts_PutCustomFields_contractId_customFieldsDTO_PUT",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "CustomFieldsDTO object",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "example": {"MyCustomField1":"MyValue1","MyCustomField2":"MyValue2"}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "Contracts"
        ],
        "summary": "Change/set values of specific custom fields while leaving others untouched",
        "operationId": "Contracts_PatchCustomFields_contractId_customFieldsDTO_PATCH",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "CustomFieldsDTO object",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "example": {"MyCustomField1":"MyValue1","MyCustomField2":"MyChangedValue2","MyCustomField3":"MyChangedValue3"}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/continuepayments": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Continue payments for a contract after they were blocked",
        "description": "This endpoint is currently in beta and may change in the future.",
        "operationId": "Contracts_PostContinuePayments_contractId_POST",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentProcessDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/payment": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Capture an external payment/refund for a specific contract",
        "operationId": "Contracts_PostContractPayment_contractId_paymentDto_POST",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ContractPaymentDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractPaymentDTO"
              },
              "example": {"Amount":5,"Currency":"EUR","Description":"External Payment (positive amount property) Or Refund (negative amount property)","RecurringPaymentsOff":false,"BookingDate":"2025-08-23"}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractPaymentDTO"
                },
                "example": {"Amount":5,"Currency":"EUR","Description":"External Payment (positive amount property) Or Refund (negative amount property)","RecurringPaymentsOff":false,"BookingDate":"2025-08-23"}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/rateditems": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Returns a list of rated items for a contract",
        "operationId": "Contracts_GetRatedItems_contractId_from_skip_take_GET",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Cursor from where on the items are listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "If you are using pagination, you can skip n items (1000 max.)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limit returned items (Max = 500, Default = 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RatedItemDTO"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create a Rated Item for this contract",
        "operationId": "RatedItems_Post_contractId_dto_POST",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Rated Item",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RatedItemCreateDTO"
              },
              "example": {"Description":"I'm a RatedItem","Quantity":1,"PricePerUnit":300,"TaxPolicyId":"5a32417d64e06b4fa00f80dc","PeriodStart":"2025-08-23T11:18:57.9374901Z","PeriodEnd":"2025-09-23T11:18:57.9375034Z"}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatedItemDTO"
                },
                "example": {"Id":"5afbdc8664e06d4afc30b8e5","Description":"I'm a RatedItem","Quantity":1,"PricePerUnit":300,"TaxPolicyId":"5a32417d64e06b4fa00f80dc","PeriodStart":"2025-08-23T11:18:57.9389923Z","PeriodEnd":"2025-09-23T11:18:57.9390031Z","TransferredAt":"2025-08-23T11:18:57.9390130Z","TotalNet":0,"TotalVat":0,"TotalGross":0}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiMessage"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/api/v1/contracts/{contractId}/resetpaymentescalation": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Resets Escalation for a contract",
        "operationId": "Contracts_PostResetPaymentEscalation_contractId_resetParameters_POST",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Reset parameters and comments",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EscalationResetParametersDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationSuspendedDTO"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
[...]
